@import './bulma/sass/utilities/initial-variables.sass';
$colora:rgb(0, 17, 255);
$yellow:black;
$black: black;
$colorb:darken(green,2);
$colord: $blue;
$colorc:gray;
// $family-sans-serif:'Roboto';
// @import './bulma/sass/utilities/initial-variables.sass';